# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.tmp

# Caches & Environments
.pytest_cache/
.coverage
htmlcov/
.venv/
env/
venv/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Files
.vscode/
.idea/
*.swp
*.swo
